# --------------------
# Node.js
# --------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --------------------
# Environment variables
# --------------------
.env
src/.env
**/.env

# --------------------
# Python
# --------------------
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Logs
# --------------------
logs/
*.log

# --------------------
# Build / cache
# --------------------
dist/
build/
.cache/
